<div class="mv-user-review-item">
    @if (ViewBag.check == false)
    {
        <h3>This movie has no reviews...</h3>
    }
    else
    {
        <h3>@Model.title</h3>
        <div class="no-star">
            @for (int i = 0; i < Model.point; i++)
            {
                <i class="ion-android-star"></i>
            }
            @for (int i = 0; i < (10 - Model.point); i++)
            {
                <i class="ion-android-star last"></i>
            }
        </div>
        <p class="time">
            by <a> @Model.user.first_name @Model.user.last_name</a>
        </p>
        <p>@Model.comment</p>
    }
</div>