<ul class="dropdown-menu level2">
    @foreach (var items in Model)
    {
        <li><a href="@Url.Action("film_list", "Home", new { form_id = ViewBag.form_id , sort = 0, cate_id = items.id , coun_id = 0 , rate = 0 })">@items.name</a></li>
    }
</ul>