<!-- top search form -->
<form action="/Home/Search_results" method="post">
    <div class="top-search">
        <select name="form_id">
            <option value="1">Movie</option>
            <option value="2">Drama</option>
        </select>
        <input type="text" name="key" placeholder="Search for a movie or TV Show that you are looking for">
    </div>
</form>