<div class="btn-transform transform-vertical red">
    <div><a href="#" class="item item-1 redbtn"> <i class="ion-play"></i> Latest trailer</a></div>
    <div><a href="https://www.youtube.com/embed/@Model.source" class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a></div>
</div>