@model IEnumerable<BeanStore.Models.banner>

@{
    ViewBag.Title = "Banner";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Banner Management</h2>
<p>
    @Html.ActionLink("Inset new banner", "Inset_banner")
</p>
<table class="table">
    <tr>
        <th style="width:500px">Banner</th>
        <th></th>
    </tr>
@foreach (var bann in Model) {
    <tr>
        <td>
            <img style="width:98%" src="~/images_banner/@bann.banner_link" />
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete_banner", new { id=bann.id })
        </td>
    </tr>
}
</table>
<div>
    @Html.ActionLink("Back to home", "Admin_Index")
</div>