@model BeanStore.Models.banner

@{
    ViewBag.Title = "Inset_banner";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@if (ViewBag.Notification != null)
{
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Error!</strong> @ViewBag.Notification.
    </div>
}
<h2>Inset new banner</h2>
<hr />
<div class="alert2">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>Note:</strong> Please use a resolution image of 1400 x 600px
</div>
@using (Html.BeginForm("Inset_banner", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            <label class="control-label col-md-2" for="banner_link">Choose new banner: </label>
            <div class="col-md-10">
                <input type="file" name="bannerUpload" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Inset" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Banner")
</div>
