
@{
    ViewBag.Title = "Register_Success";
    Layout = "~/Views/Shared/_Layout_Home_2.cshtml";
}
    <div class="landing-hero">
        <img src="~/images/logo1.png" alt="Logo">
        <div class="row landing-hero-text">
            <h2>MOST COMPLETED</h2>
            <p style="font-size:20px;">Account successfully created</p>
            <h2 class="text-yellow">BLOCK BUSTER</h2>
            <h2>FILM REVIEW</h2>
        </div>
        <a href="@Url.Action("Login", "User")" class="redbtn">LOGIN NOW</a>
    </div>